<!-- mainapp/templates/mainapp/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firesafety Project</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/styles.css' %}">
</head>
<body>
    <h1>Welcome to Firesafety Project</h1>
    <form id="userForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <button type="button" onclick="submitForm()">Submit</button>
    </form>
    <script src="{% static 'mainapp/js/script.js' %}"></script>
</body>
</html>
